@import "../../colors";
.layout {
  display: grid;
  grid-template-columns: 10em 1fr 10em;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: rgba($primary-color, 0.1);
    width: 0.15em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
}
.heightLightedCell {
  padding: 0.25em;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba($primary-color, 0.1);
}
.dataLayout {
  display: grid;
  grid-auto-rows: 1.5em;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    background-color: rgba($primary-color, 0.1);
    height: 0.15em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
  }
}
.cell {
  padding: 0.25em;
  line-height: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}