@import "../../colors";
.layout {
  display: grid;
  grid-auto-rows: 1.5em;
  grid-template-columns: 10em 1fr 7em;
}
.fullNameCell {
  padding: 0.25em;
  line-height: 1;
  background-color: rgba($primary-color, 0.1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.totalCell {
  padding: 0.25em;
  line-height: 1;
  background-color: rgba($primary-color, 0.1);
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.headerCell {
  display: flex;
  justify-content: center;
  padding: 0.25em;
  background-color: $primary-color;
  color: $primary-text-color;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover > .grabberL {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.25em;
    cursor: col-resize;
    background-color: $secondary-color;
    left: 0;
  }
  &:hover > .grabberR {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0.25em;
    cursor: col-resize;
    background-color: $secondary-color;
    right: 0;
  }
}
.grabberR, .grabberL {
  display: none;
}
.headerButton {
  line-height: 1;
  text-align: center;
}